* {
    box-sizing: border-box;
    position: 0px;
    margin: 0px;
  }
  [class*="col-"] {
    width: 100%;
    float: left;
  }
  
  @media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
  }
  @media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;660}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
  }  

.menu{
    height: 60px;
    position: relative;
    display: flex;
    background-color: black;
    justify-content: center;
}
.menu a{
    margin-right: 30px;
    font-size: 20px;
    color: aliceblue;
    text-decoration: none;
}

.menu a:hover{
    color: palevioletred;
}
.content{
    height: 500px ;
    margin-top: 30px;
}
.anh{
    position: relative;
    height: 300px;
    border: 2px solid rgb(211, 199, 184);
}
.anh img{
    height: 150px;
    width: 100%;
}
